python-dotenv
git+https://github.com/ai-cfia/fertiscan-pipeline.git@v0.0.11
git+https://github.com/ai-cfia/ailab-datastore.git@v1.0.17-fertiscan-datastore
asyncpg
greenlet
# opentelemetry-api==1.27.0
# opentelemetry-sdk==1.27.0
# opentelemetry-exporter-otlp==1.27.0
# opentelemetry-instrumentation==0.48b0
# opentelemetry-instrumentation-fastapi==0.48b0
# opentelemetry-instrumentation-logging==0.48b0
# openinference-instrumentation-dspy==0.1.14
fastapi[standard]
pydantic-settings
pydantic-extra-types
filetype
minio
pillow
sqlmodel
alembic
passlib[bcrypt]
bcrypt==5.0.0
pyjwt
jinja2
aiosmtplib
tenacity
